*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #000;
}
.main{
    margin: 40px;
    padding: 30px;
    justify-self: center;
    background-color:whitesmoke;
    width: 850px;
    height: 260px;
}
.first-dv{
   padding: 20px;
}
.first-dv ul{
    display: flex;
    flex-direction: row;
    list-style-position: inside;
    text-align: center;
}
.first-dv ul li{
    font-size: 40px;
    width: 25%;
    color: #00a8cc;
}
.first-dv ul li:first-child {
    align-items: center;
    color: #4CAF50;
}
.second-dv{
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 15px;
    display: flex;
    flex-direction: row;
}
.second-dv div{
    padding: 20px;
    width: 24%;
    background-color: #ffffff;
    border-radius: 8px;
}
hr {
    border: none;
    height: 2px;
    background-color: #00a8cc;
}
.second-dv div h3{
    padding: 10px;
    text-align: center;
    color: #00a8cc;
}
.second-dv div p{
    text-align: center;
    color: #555;
    line-height: 1.5;

}
